@import "ember-bootstrap/bootstrap";

.nav-container {
  margin-top: 30px;
  text-align: center;
}

.nav-header {
  font-weight: 300;
  text-decoration: none;
  font-family: "bree-serif", "Open Sans", Georgia, serif;
}

.blog-list {
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  font-family: "bree-serif", "Open Sans", Georgia, serif !important;
}

li {
  list-style: none;
  color: #1b3f4b;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li > span {
  color: #778489;
  margin-right: 10px;
  font-size: 15px;
}

.blog-title {
  font-size: 18px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.post {
  width: 800px;
  margin: 0 auto;
  font-family: "bree-serif", "Open Sans", Georgia, serif !important;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: justify;
}

.post-header {
  text-align: center;
}

.post-title {
  margin-top: 10px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 48px;
  margin-bottom: 10px;
  color: inherit;
  text-transform: none;
}
.post-meta {
  text-align: center;
  margin: 25px 0 10px;
  color: #1b3f4b;
  font-size: 14px;
  font-family: "PT Serif";
  font-weight: 400;
  font-style: italic;
}

.post-content {
  margin-top: 15px;
  font-family: "PT Serif", "Baskerville", serif;
  font-size: 18px;
  line-height: 160%;
  font-weight: 300;
  color: #444;
}

.likes-block {
  text-align: center;
}

.like-button {
  margin-top: 20px;
}

.like-button:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.5) !important;
}

textarea {
  margin-top: 20px;
}

.share-icons {
  margin-top: 20px;
}

.icons:hover {
  opacity: 0.7;
}
