<div class="row">
    <div class="col-md-12">
        <div id="blog-footer">
            <a href="http://hashcooki.es/">Hash Cookies</a> is a software design studio based in Goa. This journal
            is penned by its co-founders Milind Alvares and Axel D'Souza. You can send us your comments <a
                data-toggle="modal" data-target="#contact-modal" href="/contact">privately</a> or on our <a
                href="http://facebook.com/hashcookies.social">facebook page</a>.
        </div>
    </div>
</div>