<div class="nav-container text-center">
    <a href="/"><img src="assets/images/logo.png" id="blog-logo" alt="Hash Cookies logo" /></a>
    <a href="/journal">
        <span>/Journal</span>
    </a>
</div>
{{outlet}}