<div class="nav-container text-center nav-header">
    <a href="/"><img src="assets/images/logo.png" id="blog-logo" alt="Hash Cookies logo" /></a>
    <a href="/" class="home-link" style="color:  #1b3f4b; ">
        <span>/ Journal</span>
    </a>
</div>
{{outlet}}