<div class="container blog-container">
    <div class="row">
        <div class="col-xs-12">
            <div id="blog-nav">
                <a href="/"><img src="assets/images/logo.png" id="blog-logo" alt="Hash Cookies logo" /></a>
                <a href="/">
                    <span> Journal</span>
                </a>
            </div>
        </div>
    </div>
</div>


{{outlet}}