<div class="post">
    <h1 class="blog-title">{{@model.title}}</h1>
    <p class="post-meta">Published on {{@model.date}}</p>
    <p class="w-50 mx-auto post-content">
        {{@model.content}}
    </p>
</div>